/* 
    Created on : Aug 24, 2017, 11:53:23 AM
    Author     : Junior Lima (ddmaquinas)
*/
a{
    text-decoration: none !important;
}
/* Float fixers */
.right{
    float:right;
}
.left{
    float:left;
}
/* 404 */
#content.no-content {
    background-image: url(../images/404.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: 80% 40%;
    min-height: 900px;
    position: relative;
}
.no-content-comment h2 {
    font: 700 110px/0.8 "Gudea", Arial, sans-serif;
    color: #fac629;
    text-shadow: 8px 4px 0 rgba(0,0,0, 0.1);
    margin-bottom: 15px;
}
#content.no-content, .bg-404{
    background-color: #fac629 !important;
}
#content {
    padding-bottom: 50px;
    overflow: hidden;
}
.no-content .no-content-comment {
    width: 480px;
    height: 350px;
    position: absolute;
    left: 38%;
    margin-left: -360px;
    top: 20px;
    background-image: url(../images/404-comment.png);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 16px;
}
/* Login Register Form */
.login-register-form .input-group{
    margin-bottom: 12px;
}
.login-register-form .input-group .input-group-addon{
    min-width: 136px;
    text-align: left;
}
.cart-nav{
    text-align: right;    
}
/* Selos */
.selo-ebit-checkout{
    margin: 0 auto;
}
/* Payment Icons */
.payment-icons{
    margin-bottom: 20px;
}
.payment-icons img{
    /*    max-width: 58px;*/
    margin-bottom: 3px;
}
/* Produtos - Botoes */
.prd-btn-group{
    max-width: 123px;
    float: left;
    margin: 0 auto;
}
.check-cep{
    display: inline-block;
    margin: 0px 0px 0px 20px;
}
.btn-cep{
    border: 1px solid #ffb600;
}
.btn-fav{
    margin-left: -4px !important;
}
.btn-fav, .btn-comp{
    width: 78px;
}
.btn-paga{
    height: 24px;
    margin-left: 0px !important;
}
.btn-paga, .btn-comprar{
    width: 153px;
}
.btn-right{
    float: right !important;
}
/* Cupom form */
.cupom-form{
    border-radius: 6px 0px 0px 6px !important;
}
.cupom-btn{
    border-radius: 0px 6px 6px 0px !important;
    height: 34px;
}
/* Google Maps Api */
#map {
    height:350px;
    margin-bottom:50px;
}
#map img {
    max-width:none;
}
.facebook-likebox{
    max-width: 100% !important;
    max-height: 304px;
    height: 300px !important;
    display: inline-block;
}
.facebook-likebox iframe{
    width: 100% !important;
    height: 100% !important;
    border: 0px !important;
}
.facebook-likebox iframe .rfloat{
    margin-right: 37px !important;
}
.newsletter-container{
    background-color: #fac629;
    color: #373939;
    padding-top: 10px;
    padding-bottom: 10px;
}
.newsletter-container h3{
    padding-top: 0px;
    margin-top: 12px;
}
.newsletter-form-1, .newsletter-form-2{
    width: 50% !important;
}
.newsletter-form-2{
    border-left: 1px solid #fac629 !important;
}
.cart-dropdown:hover > div.dropdown-menu {
    display: block;    
}
#welcome{
    padding-top: 3px;
}
#welcome a:hover{
    color: #ffffff !important;
}
.mg-top-5{
    margin-top: 5px;
}
.cart-size-fix{
    min-width: 240px;
}
.carousel-home{
    margin-bottom: 36px;
}
.carousel-home .item{
    max-height: 290px !important;
}
.item-btn{
    margin-top: 8px;
}
.btn-item{
    font-size: 12px !important;
}
.d-block {
    display: block !important;
    min-height: 38px;
    max-height: 38px;
    overflow-y: hidden;
    white-space: normal;
}
.d-inline-block {
    display: inline-block !important;
}
.d-inline {
    display: inline !important;
}
.w-100 {
    width: 100% !important;
}
.m-x-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.m-a-0 {
    margin: 0 0 !important;
}
.m-t-0 {
    margin-top: 0 !important;
}
.m-r-0 {
    margin-right: 0 !important;
}
.m-b-0 {
    margin-bottom: 0 !important;
}
.m-l-0 {
    margin-left: 0 !important;
}
.m-x-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.m-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.m-a-1 {
    margin: 1rem 1rem !important;
}
.m-r-1 {
    margin-right: 1rem !important;
}
.m-b-1 {
    margin-bottom: 1rem !important;
}
.m-l-1 {
    margin-left: 1rem !important;
}
.m-x-1 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.m-y-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.m-a-2 {
    margin: 1.5rem 1.5rem !important;
}
.m-t-08 {
    margin-top: 0.8rem !important;
}
.m-t-1 {
    margin-top: 1.0rem !important;
}
.m-t-2 {
    margin-top: 1.5rem !important;
}
.m-r-2 {
    margin-right: 1.5rem !important;
}
.m-b-2 {
    margin-bottom: 1.5rem !important;
}
.m-l-2 {
    margin-left: 1.5rem !important;
}
.m-x-2 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}
.m-y-2 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.m-a-3 {
    margin: 3rem 3rem !important;
}
.m-t-3 {
    margin-top: 3rem !important;
}
.m-r-3 {
    margin-right: 3rem !important;
}
.m-b-3 {
    margin-bottom: 3rem !important;
}
.m-l-3 {
    margin-left: 3rem !important;
}
.m-x-3 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}
.m-y-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.p-a-0 {
    padding: 0 0 !important;
}
.p-t-0 {
    padding-top: 0 !important;
}
.p-r-0 {
    padding-right: 0 !important;
}
.p-b-0 {
    padding-bottom: 0 !important;
}
.p-l-0 {
    padding-left: 0 !important;
}
.p-x-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}
.p-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.p-a-1 {
    padding: 1rem 1rem !important;
}
.p-t-1 {
    padding-top: 1rem !important;
}
.p-r-1 {
    padding-right: 1rem !important;
}
.p-b-1 {
    padding-bottom: 1rem !important;
}
.p-l-1 {
    padding-left: 1rem !important;
}
.p-x-1 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.p-y-1 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.p-a-2 {
    padding: 1.5rem 1.5rem !important;
}
.p-t-2 {
    padding-top: 1.5rem !important;
}
.p-r-2 {
    padding-right: 1.5rem !important;
}
.p-b-2 {
    padding-bottom: 1.5rem !important;
}
.p-l-2 {
    padding-left: 1.5rem !important;
}
.p-x-2 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}
.p-y-2 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
.p-a-3 {
    padding: 3rem 3rem !important;
}
.p-t-3 {
    padding-top: 3rem !important;
}
.p-r-3 {
    padding-right: 3rem !important;
}
.p-b-3 {
    padding-bottom: 3rem !important;
}
.p-l-3 {
    padding-left: 3rem !important;
}
.p-x-3 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
.p-y-3 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
@font-face {
    font-family: RobotoDraft;
    src: url(../fonts/robotodraft/Thin/RobotoDraft-Thin.woff2@v=1.0.0) format("woff2"), url(../fonts/robotodraft/Thin/RobotoDraft-Thin.woff@v=1.0.0) format("woff"), url(../fonts/robotodraft/Thin/RobotoDraft-Thin.ttf@v=1.0.0) format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: RobotoDraft;
    src: url(../fonts/robotodraft/Light/RobotoDraft-Light.woff2@v=1.0.0) format("woff2"), url(../fonts/robotodraft/Light/RobotoDraft-Light.woff@v=1.0.0) format("woff"), url(../fonts/robotodraft/Light/RobotoDraft-Light.ttf@v=1.0.0) format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: RobotoDraft;
    src: url(../fonts/robotodraft/Regular/RobotoDraft-Regular.woff2@v=1.0.0) format("woff2"), url(../fonts/robotodraft/Regular/RobotoDraft-Regular.woff@v=1.0.0) format("woff"), url(../fonts/robotodraft/Regular/RobotoDraft-Regular.ttf@v=1.0.0) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: RobotoDraft;
    src: url(../fonts/robotodraft/Regular/RobotoDraft-Regular.woff2@v=1.0.0) format("woff2"), url(../fonts/robotodraft/Regular/RobotoDraft-Regular.woff@v=1.0.0) format("woff"), url(../fonts/robotodraft/Regular/RobotoDraft-Regular.ttf@v=1.0.0) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: RobotoDraft;
    src: url(../fonts/robotodraft/Italic/RobotoDraft-Italic.woff2@v=1.0.0) format("woff2"), url(../fonts/robotodraft/Italic/RobotoDraft-Italic.woff@v=1.0.0) format("woff"), url(../fonts/robotodraft/Italic/RobotoDraft-Italic.ttf@v=1.0.0) format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: RobotoDraft;
    src: url(../fonts/robotodraft/Italic/RobotoDraft-Italic.woff2@v=1.0.0) format("woff2"), url(../fonts/robotodraft/Italic/RobotoDraft-Italic.woff@v=1.0.0) format("woff"), url(../fonts/robotodraft/Italic/RobotoDraft-Italic.ttf@v=1.0.0) format("truetype");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: RobotoDraft;
    src: url(../fonts/robotodraft/Medium/RobotoDraft-Medium.woff2@v=1.0.0) format("woff2"), url(../fonts/robotodraft/Medium/RobotoDraft-Medium.woff@v=1.0.0) format("woff"), url(../fonts/robotodraft/Medium/RobotoDraft-Medium.ttf@v=1.0.0) format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: RobotoDraft;
    src: url(../fonts/robotodraft/Bold/RobotoDraft-Bold.woff2@v=1.0.0) format("woff2"), url(../fonts/robotodraft/Bold/RobotoDraft-Bold.woff@v=1.0.0) format("woff"), url(../fonts/robotodraft/Bold/RobotoDraft-Bold.ttf@v=1.0.0) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: RobotoDraft;
    src: url(../fonts/robotodraft/Bold/RobotoDraft-Bold.woff2@v=1.0.0) format("woff2"), url(../fonts/robotodraft/Bold/RobotoDraft-Bold.woff@v=1.0.0) format("woff"), url(../fonts/robotodraft/Bold/RobotoDraft-Bold.ttf@v=1.0.0) format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: RobotoDraft;
    src: url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff2@v=1.0.0) format("woff2"), url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff@v=1.0.0) format("woff"), url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.ttf@v=1.0.0) format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: RobotoDraft;
    src: url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff2@v=1.0.0) format("woff2"), url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.woff@v=1.0.0) format("woff"), url(../fonts/robotodraft/BoldItalic/RobotoDraft-BoldItalic.ttf@v=1.0.0) format("truetype");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: RobotoDraft;
    src: url(../fonts/robotodraft/Black/RobotoDraft-Black.woff2@v=1.0.0) format("woff2"), url(../fonts/robotodraft/Black/RobotoDraft-Black.woff@v=1.0.0) format("woff"), url(../fonts/robotodraft/Black/RobotoDraft-Black.ttf@v=1.0.0) format("truetype");
    font-weight: 900;
    font-style: normal;
}
body {
    font-family: "RobotoDraft", "Roboto", sans-serif;
}
body,
a,
.btn-default {
    color: #666;
}
.btn {
    border-radius: 0;
    border: 1px transparent !important;
}
.dropdown-menu {
    border-radius: 0;
    border-color: #ccc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.dropdown-menu > li > a {
    color: #666;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #eee;
}
.form-control {
    border-radius: 0;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
input[type=checkbox],
input[type=radio] {
    display: none;
}
input[type=checkbox] + span::before,
input[type=radio] + span::before {
    font-family: 'fontAwesome';
    font-size: 12px;
    line-height: 14px;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 16px;
    margin-right: 2px;
    margin-left: -20px;
    content: '\a0';
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #fff;
}
input[type=checkbox]:checked + span::before,
input[type=radio]:checked + span::before {
    content: '\f00c';
    color: #666;
}
input[type=radio] {
    display: none;
}
input[type=radio] + span::before {
    font-size: 9px;
    margin-right: 4px;
    border-radius: 100%;
}
input[type=radio]:checked + span::before {
    content: '\f111';
    color: #666;
}
.title {
    font-size: 18px;
    line-height: 1;
    margin: 0 0 10px;
    padding: 0;
}
.title > span {
    display: inline-block;
    margin-bottom: -3px;
    padding-bottom: 10px;
    color: #666;
}
.title > span > a {
    color: #666;
}
.label {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    display: inline-block;
    height: 20px;
    border-radius: 0;
}
.label.arrowed {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 20px;
    margin-left: 5px;
}
.label.arrowed:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -10px;
    display: inline-block;
    content: '';
    border: 1px solid transparent;
    border-width: 10px 5px;
}
.label.arrowed-right {
    position: relative;
    z-index: 1;
    display: inline-block;
    height: 20px;
    margin-right: 5px;
}
.label.arrowed-right:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -10px;
    display: inline-block;
    content: '';
    border: 1px solid transparent;
    border-width: 10px 5px;
}
.label-default.arrowed:before {
    border-right-color: #777;
}
.label-default.arrowed-right:after {
    border-left-color: #777;
}
.label-primary.arrowed:before {
    border-right-color: #337ab7;
}
.label-primary.arrowed-right:after {
    border-left-color: #337ab7;
}
.label-success.arrowed:before {
    border-right-color: #5cb85c;
}
.label-success.arrowed-right:after {
    border-left-color: #5cb85c;
}
.label-info.arrowed:before {
    border-right-color: #5bc0de;
}
.label-info.arrowed-right:after {
    border-left-color: #5bc0de;
}
.label-warning.arrowed:before {
    border-right-color: #f0ad4e;
}
.label-warning.arrowed-right:after {
    border-left-color: #f0ad4e;
}
.label-danger.arrowed:before {
    border-right-color: #d9534f;
}
.label-danger.arrowed-right:after {
    border-left-color: #d9534f;
}
.tooltip-inner {
    border-radius: 0;
}
.bootstrap-select .dropdown-toggle {
    border-radius: 0;
}
.bootstrap-select .dropdown-toggle:active, .bootstrap-select .dropdown-toggle:hover, .bootstrap-select .dropdown-toggle:focus {
    border-color: #ccc;
    outline: 0 !important;
    background-color: #eee;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li a:focus {
    outline: 0;
}
.bootstrap-select.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #eee;
}
.bootstrap-select.open .dropdown-toggle:hover {
    background-color: #eee;
}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    border-top-right-radius: 0;
}
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    border-bottom-right-radius: 0;
}
.img-thumbnail {
    border-radius: 0;
}
.panel-group .panel {
    border-radius: 0;
}
.list-group-nav .list-group-item {
    padding-left: 10px;
    border: 0;
    border-bottom: 1px dotted #ccc;
    background: transparent;
}
.alert {
    border-radius: 0;
}
.nav-pills > li > a {
    border-radius: 0;
}
.top-header {
    position: relative;
    z-index: 1002;
}
.top-header ul.list-inline {
    margin-bottom: 0;
}
.top-header ul.list-inline > li {
    float: left;
    margin: 0;
    padding: 0;
}
.top-header ul.list-inline > li .dropdown-toggle {
    border-radius: 0;
    background-color: transparent;
}
.top-header ul.list-inline > li .dropdown-toggle:focus {
    outline: none !important;
}
.top-header ul.list-inline > li > a,
.top-header ul.list-inline > li .dropdown-toggle {
    display: block;
    padding: 5px 7px;
}
.top-header ul.list-inline > li > a:hover, .top-header ul.list-inline > li > a:active,
.top-header ul.list-inline > li .dropdown-toggle:hover,
.top-header ul.list-inline > li .dropdown-toggle:active {
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.top-header ul.list-inline > li .dropdown.open > .dropdown-toggle,
.top-header ul.list-inline > li .bootstrap-select.open > .dropdown-toggle {
    text-decoration: none;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.top-header ul.list-inline > li .dropdown-toggle img,
.top-header ul.list-inline > li .dropdown-menu img {
    margin-bottom: 2px;
}
.top-header ul.list-inline > li .dropdown-menu-login {
    line-height: 1.4;
    min-width: 230px;
    padding: 10px;
}
.top-header ul.list-inline > li .dropdown-menu-login button {
    border-radius: 0;
}
.middle-header {
    background-color: #fac629;
    /*    background-color: #f9f9f9;*/
    position: relative;
    z-index: 1001;
}
.middle-header > .container > .row {
    padding: 15px 0;
}
.middle-header .search-box input,
.middle-header .search-box button{
    border: 1px solid #fff !important;
}
.middle-header .search-box input[type="text"]:focus {
    z-index: 4;
}
.middle-header .search-box .bootstrap-select {
    z-index: 3;
}
.middle-header .search-box .bootstrap-select > .dropdown-toggle,
.middle-header .search-box .bootstrap-select > .dropdown-menu {
    margin-left: -1px;
}
.middle-header .btn-search {
    z-index: 3 !important;
}
.middle-header .cart-btn > .open {
    min-height: 44px;
    max-height: 44px;
}
.middle-header .cart-btn > .dropdown-menu {
    right: 15px;
    overflow-y: auto;
    max-height: 400px;
    padding: 10px;
}
.middle-header .cart-btn .media {
    margin-top: 10px;
}
.middle-header .cart-btn .media:first-child {
    margin-top: 0;
}
.middle-header .cart-btn .media-body a {
    font-size: 13px;
    display: block;
    margin-bottom: 0;
}
.middle-header .cart-btn .media-right a {
    color: #aaa;
}
.middle-header .cart-btn .media-right a:hover {
    color: #ef5350;
}
.middle-header .cart-btn .media-body div,
.middle-header .cart-btn .subtotal-cart span {
    font-size: 13px;
    color: #ef5350;
}
.middle-header .cart-btn .subtotal-cart {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.middle-header .cart-btn > a.btn {
    padding: 0px 12px 1px 0px;
    float: right;
    margin-left: 15px;
    /* margin-top: 3px; */
    border: 1px solid #fff !important;
    border-radius: 6px;
    height: 44px;
}
.middle-header .cart-btn > a.btn > i {
    padding: 12px 14px;
    background: #fff;
    margin-right: 15px;
    /* border-radius: 0; */
    height: 42px;
    border-radius: 5px 0px 0px 5px;
}
.middle-header .cart-btn.open > button {
    color: #666 !important;
    background-color: #e7e7e7 !important;
}
.navbar {
    min-height: inherit;
    border: 0;
    background-color: #f3f3f3;
}
.navbar .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar .navbar-toggle {
    float: left;
    margin-right: 0;
    margin-left: 15px;
    padding: 5px 7px;
    border-radius: 0;
    background-color: #f3f3f3;
}
.navbar .btn-cart-xs {
    font-size: 13px;
    margin-top: 3px;
    margin-right: 15px;
    padding: 8px 15px;
    color: #666;
    background-color: #f3f3f3;
}
.shadow-navbar {
    position: relative;
    z-index: 1000;
    margin-bottom: 0;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
}
.thumbnail {
    border-radius: 0;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
/* Default theme - Owl Carousel CSS File */
.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
.owl-theme .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none; }
.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px; }
.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px; }
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #869791; 
}
.owl-theme .owl-nav {
    position: absolute;
    top: 1px;
    right: 1px;
    margin-top: 0;
}
.owl-theme .owl-nav [class*='owl-'] {
    font-size: 18px;
    line-height: 1;
    margin: 0;
    padding: 0 5px;
    opacity: .5;
    border-radius: 0;
}
.owl-theme .owl-nav .owl-prev {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.owl-theme .owl-nav .owl-next {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.owl-theme.owl-controls-top-offset .owl-nav {
    right: 0;
    margin-top: -35px;
}
.owl-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.box-product-outer {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 0;
    /* &:hover {
      @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
    } */
}
.box-banner-outer {
    margin-bottom: 10px;
    padding: 0px;
    border: 1px solid transparent;
    border-radius: 0;
    /* &:hover {
      @include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
    } */
}
.box-banner-outer .vert-banner {
    height: 470px;
}
.box-product .img-wrapper {
    position: relative;
    overflow: hidden;
}
.box-product .img-wrapper > :first-child {
    position: relative;
    display: block;
}
.box-product .img-wrapper > a > img {
    width: 100%;
}
.box-product .img-wrapper .tags {
    position: absolute;
    top: 0;
    right: 0;
    display: table;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: inherit;
    border-width: 0;
    background-color: transparent;
    direction: rtl;
}
.box-product .img-wrapper .tags > .label-tags {
    display: table;
    margin: 0 -1px 1px 0;
    text-align: left;
    opacity: .80;
    filter: alpha(opacity=80);
    direction: ltr;
}
.box-product .img-wrapper .tags > .label-tags:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.box-product .img-wrapper .tags > .label-tags a:hover {
    text-decoration: none;
}
.box-product .img-wrapper .tags-left {
    left: 0;
    direction: ltr;
}
.box-product .img-wrapper > .option {
    position: absolute;
    top: auto;
    right: 0;
    bottom: -30px;
    left: 0;
    width: auto;
    height: 28px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align: center;
    vertical-align: middle;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.55);
}
.box-product .img-wrapper > .option > a {
    font-size: 12px;
    font-weight: normal;
    display: inline-block;
    padding: 0 4px;
    color: #fff;
    padding-top: 6px;
}
.box-product .img-wrapper > .option > a:hover {
    color: #9E9E9E;
}
.box-product .img-wrapper > .option > a.wishlist:hover {
    color: #ef5350;
}
.box-product h6 a {
    font-size: 13px;
    line-height: 1.4;
    display: block;
    min-height: 38px;
    max-height: 38px;
    overflow-y: hidden;
    white-space: normal;
}
.box-product:hover .img-wrapper > .option {
    bottom: 0;
}
.price {
    margin-bottom: 5px;
    color: #ef5350;
}
.price-old {
    position: relative;
    display: inline-block;
    margin-right: 7px;
    color: #666;
}
.price-old:before {
    position: absolute;
    width: 100%;
    height: 60%;
    content: '';
    border-bottom: 1px solid #666;
}
.rating i {
    color: #ffc107;
}
.brand-slider {
    margin-bottom: 15px;
}
.brand-slider .brand {
    padding: 15px 0;
    border: 1px solid transparent;
    border-radius: 0;
    max-width: 156px !important;
}
.brand-slider .brand img {
    width: inherit;
    margin: 0 auto;
}
.footer {
    font-size: 13px;
    /*    margin-top: 15px;*/
    color: #bababa;
    background-color: #373939;
}
.footer ul {
    line-height: 1.7;
    padding: 0;
    list-style: none;
}
.footer ul li a {
    color: #bababa;
}
.footer .copyright {
    padding: 10px;
    color: #bababa;
    background-color: #202222;
}
.footer .footer-icon span i {
    line-height: 2;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: 1px solid #a3a3a3;
    border-radius: 100%;
}
.footer .follow-us {
    display: inline-block;
}
.footer .follow-us li {
    float: left;
}
.footer .follow-us li a {
    font-size: 20px;
    line-height: 2;
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 0;
    text-align: center;
    border: 1px solid #a3a3a3;
    border-radius: 100%;
    -webkit-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s;
}
.footer .subscribe-button {
    font-size: 13px;
    height: 32px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.footer input[type="text"] {
    min-height: 32px;
    border-color: transparent;
}
.footer input[type="text"]:focus {
    z-index: 2;
    border-color: transparent;
}
.title-footer {
    font-size: 18px;
    line-height: 1;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #bababa;
}
.title-footer > span {
    display: inline-block;
    color: #bababa;
}
.back-top {
    position: fixed;
    z-index: 999;
    right: 0;
    bottom: 0;
    display: none;
    width: 30px;
    height: 23px;
    color: #fff;
    background-color: #fac629;
    display: inline;
    width: 38px;
    height: 38px;
}
.back-top i{
    margin-top: 12px;
}
.back-top:hover, .back-top:focus, .back-top:active {
    color: #fff;
}
.back-top:hover {
    background-color: #ffb600;
    -webkit-transition: all 100ms ease-in-out 0s;
    -o-transition: all 100ms ease-in-out 0s;
    transition: all 100ms ease-in-out 0s;
}
.filter-sidebar {
    margin-bottom: 25px;
}
.filter-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.filter-sidebar ul li {
    position: relative;
    margin-bottom: 3px;
}
.filter-sidebar ul li a.remove-filter {
    position: absolute;
    top: 0;
    right: 0;
    color: #aaa;
}
.filter-sidebar .price-range {
    overflow: hidden;
    margin-top: 5px;
    padding: 3px 0;
}
.noUi-target {
    height: 11px;
    border: 0;
    border-radius: 0;
    background-color: #dbdbdb;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.noUi-target .noUi-background {
    background-color: #dbdbdb;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.noUi-target .noUi-origin {
    border-radius: 0;
}
.noUi-target .noUi-origin .noUi-handle {
    top: -3px;
    left: -9px;
    width: 17px;
    height: 17px;
    cursor: default;
    border: 0;
    border-radius: 0;
    background-color: #797979;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.noUi-target .noUi-origin .noUi-handle:before, .noUi-target .noUi-origin .noUi-handle:after {
    content: none;
}
.noUi-target .noUi-origin .noUi-handle:active, .noUi-target .noUi-origin .noUi-handle:hover, .noUi-target .noUi-origin .noUi-handle:focus {
    outline: 0;
}
.noUi-target .noUi-connect {
    background-color: #a2a2a2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.product-sorting-bar {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0;
}
.bootstrap-select,
.product-sorting-bar .bootstrap-select{
    border: 1px solid #ccc !important;
}
.product-sorting-bar > div {
    float: left;
    padding: 10px;
}
.pagination > li > a,
.pagination > li > span {
    color: #666;
    border-bottom: 2px solid #d6d8d9;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pager > li > a,
.pager > li > span {
    color: #666;
    border-bottom: 2px solid #d6d8d9;
    border-radius: 0;
}
.input-qty {
    width: 150px;
}
.table-cart .img-cart {
    width: 77px;
}
.table-cart .img-cart img {
    width: 50px;
}
.table-cart small {
    display: block;
}
.table-cart .unit,
.table-cart .sub,
.table-cart .action {
    width: 100px;
}
.bootstrap-touchspin .bootstrap-touchspin-prefix {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.testimonial {
    font-size: 14.5px;
}
.table-compare {
    text-align: center;
}
.table-compare tbody tr td:first-child,
.table-compare .compare-product {
    background-color: #f8f8f8;
}
.table-compare tbody tr td:first-child {
    text-align: left;
}
.image-detail {
    margin-bottom: 10px;
    width: 100% !important;
    max-height: 600px !important;
}
.image-detail img {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0;
}
.title-detail {
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.table-detail tr,
.table-detail tr td {
    border-top: 1px solid transparent !important;
}
.table-detail tr td {
    vertical-align: middle !important;
}
.table-detail tr td:first-child {
    width: 150px;
}
.table-detail tr td:first-child::after {
    float: right;
    content: ':';
}
.table-detail tr:last-child td:first-child::after {
    content: '';
}
.nav-tabs > li > a {
    border-radius: 0 0 0 0;
}
.nav-tabs > li > a:focus, .nav-tabs > li > a:active {
    outline: 0;
}
.tab-content-detail table tr td:first-child {
    /*    background: #f8f8f8;*/
}
.tab-content-detail .well {
    border-top: 0;
    border-radius: 0;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.product-rating {
    font-size: 13px;
    margin-top: 5px;
    text-align: center;
    color: #fc0;
}
.input-rating {
    font-size: 24px;
    display: inline-block;
    color: #fc0;
}
.input-rating i {
    width: 20px;
}
.blog-list {
    border-radius: 0;
}
.blog-list .caption {
    color: #666;
}
.blog-list .caption h4 {
    font-weight: normal;
}
.blog-list img {
    width: 100%;
}
.blog-list small, .blog-detail-content small {
    display: block;
    margin-bottom: 5px;
}
.blog-list small span, .blog-detail-content small span {
    margin-right: 7px;
}
.blog-list small a,
.blog-list small span, .blog-detail-content small a,
.blog-detail-content small span {
    color: #a6a6a6;
}
.blog-detail-content {
    margin-bottom: 30px;
}
.blog-detail-content .img-thumbnail {
    width: 100%;
    margin-bottom: 15px;
}
.share-button button {
    width: 40px;
}
/* Wizard */
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.fuelux .serif {
    font-family: Georgia, "Times New Roman", Times, serif;
}
.fuelux .monospace {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.fuelux .text-sm {
    font-size: 11.9px;
}
.fuelux .text-lg {
    font-size: 17.5px;
}
.fuelux .padding-xs {
    padding: 5px;
}
.fuelux .padding-xs-horizontal {
    padding: 0 5px;
}
.fuelux .padding-xs-vertical {
    padding: 5px 0;
}
.fuelux .padding-xs-top {
    padding-top: 5px;
}
.fuelux .padding-xs-bottom {
    padding-bottom: 5px;
}
.fuelux .padding-xs-left {
    padding-left: 5px;
}
.fuelux .padding-xs-right {
    padding-right: 5px;
}
.fuelux .padding-sm {
    padding: 10px;
}
.fuelux .padding-sm-horizontal {
    padding: 0 10px;
}
.fuelux .padding-sm-vertical {
    padding: 10px 0;
}
.fuelux .padding-sm-top {
    padding-top: 10px;
}
.fuelux .padding-sm-bottom {
    padding-bottom: 10px;
}
.fuelux .padding-sm-left {
    padding-left: 10px;
}
.fuelux .padding-sm-right {
    padding-right: 10px;
}
.fuelux .padding-md {
    padding: 15px;
}
.fuelux .padding-md-horizontal {
    padding: 0 15px;
}
.fuelux .padding-md-vertical {
    padding: 15px 0;
}
.fuelux .padding-md-top {
    padding-top: 15px;
}
.fuelux .padding-md-bottom {
    padding-bottom: 15px;
}
.fuelux .padding-md-left {
    padding-left: 15px;
}
.fuelux .padding-md-right {
    padding-right: 15px;
}
.fuelux .padding-lg {
    padding: 20px;
}
.fuelux .padding-lg-horizontal {
    padding: 0 20px;
}
.fuelux .padding-lg-vertical {
    padding: 20px 0;
}
.fuelux .padding-lg-top {
    padding-top: 20px;
}
.fuelux .padding-lg-bottom {
    padding-bottom: 20px;
}
.fuelux .padding-lg-left {
    padding-left: 20px;
}
.fuelux .padding-lg-right {
    padding-right: 20px;
}
.fuelux .margin-xs {
    margin: 5px;
}
.fuelux .margin-xs-horizontal {
    margin: 0 5px;
}
.fuelux .margin-xs-vertical {
    margin: 5px 0;
}
.fuelux .margin-xs-top {
    margin-top: 5px;
}
.fuelux .margin-xs-bottom {
    margin-bottom: 5px;
}
.fuelux .margin-xs-left {
    margin-left: 5px;
}
.fuelux .margin-xs-right {
    margin-right: 5px;
}
.fuelux .margin-sm {
    margin: 10px;
}
.fuelux .margin-sm-horizontal {
    margin: 0 10px;
}
.fuelux .margin-sm-vertical {
    margin: 10px 0;
}
.fuelux .margin-sm-top {
    margin-top: 10px;
}
.fuelux .margin-sm-bottom {
    margin-bottom: 10px;
}
.fuelux .margin-sm-left {
    margin-left: 10px;
}
.fuelux .margin-sm-right {
    margin-right: 10px;
}
.fuelux .margin-md {
    margin: 15px;
}
.fuelux .margin-md-horizontal {
    margin: 0 15px;
}
.fuelux .margin-md-vertical {
    margin: 15px 0;
}
.fuelux .margin-md-top {
    margin-top: 15px;
}
.fuelux .margin-md-bottom {
    margin-bottom: 15px;
}
.fuelux .margin-md-left {
    margin-left: 15px;
}
.fuelux .margin-md-right {
    margin-right: 15px;
}
.fuelux .margin-lg {
    margin: 20px;
}
.fuelux .margin-lg-horizontal {
    margin: 0 20px;
}
.fuelux .margin-lg-vertical {
    margin: 20px 0;
}
.fuelux .margin-lg-top {
    margin-top: 20px;
}
.fuelux .margin-lg-bottom {
    margin-bottom: 20px;
}
.fuelux .margin-lg-left {
    margin-left: 20px;
}
.fuelux .margin-lg-right {
    margin-right: 20px;
}
.fuelux .data-label {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 2px;
    text-shadow: 0 1px #FFF;
    color: #666666;
}
.fuelux .data-value {
    font-size: 14px;
}
.fuelux .section-heading {
    font-size: 16px;
    color: #333333;
    margin: 0 0 10px;
    padding: 0;
    text-shadow: 0 1px #FFF;
}
.fuelux .wizard {
    *zoom: 1;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background-color: #fafafa;
    position: relative;
    min-height: 48px;
}
.fuelux .wizard:before,
.fuelux .wizard:after {
    display: table;
    content: "";
    line-height: 0;
}
.fuelux .wizard:after {
    clear: both;
}
.fuelux .wizard.no-steps-container {
    overflow: hidden;
}
.fuelux .wizard .steps-container {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}
.fuelux .wizard > ul.steps,
.fuelux .wizard > .steps-container > ul.steps {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    width: 999999px;
}
.fuelux .wizard > ul.steps.previous-disabled li.complete,
.fuelux .wizard > .steps-container > ul.steps.previous-disabled li.complete {
    cursor: default;
}
.fuelux .wizard > ul.steps.previous-disabled li.complete:hover,
.fuelux .wizard > .steps-container > ul.steps.previous-disabled li.complete:hover {
    background: #f5f5f5;
    color: #468847;
    cursor: default;
}
.fuelux .wizard > ul.steps.previous-disabled li.complete:hover .chevron:before,
.fuelux .wizard > .steps-container > ul.steps.previous-disabled li.complete:hover .chevron:before {
    border-left-color: #f5f5f5;
}
.fuelux .wizard > ul.steps li,
.fuelux .wizard > .steps-container > ul.steps li {
    float: left;
    margin: 0;
    padding: 0 20px 0 30px;
    height: 46px;
    line-height: 46px;
    position: relative;
    background: #eeeeee;
    color: #999999;
    font-size: 16px;
    cursor: not-allowed;
}
.fuelux .wizard > ul.steps li .chevron,
.fuelux .wizard > .steps-container > ul.steps li .chevron {
    border: 24px solid transparent;
    border-left: 14px solid #d4d4d4;
    border-right: 0;
    display: block;
    position: absolute;
    right: -14px;
    top: 0;
    z-index: 1;
}
.fuelux .wizard > ul.steps li .chevron:before,
.fuelux .wizard > .steps-container > ul.steps li .chevron:before {
    border: 24px solid transparent;
    border-left: 14px solid #eeeeee;
    border-right: 0;
    content: "";
    display: block;
    position: absolute;
    right: 1px;
    top: -24px;
}
.fuelux .wizard > ul.steps li.complete,
.fuelux .wizard > .steps-container > ul.steps li.complete {
    background: #f5f5f5;
    color: #468847;
}
.fuelux .wizard > ul.steps li.complete:hover,
.fuelux .wizard > .steps-container > ul.steps li.complete:hover {
    background: #e2eaee;
    cursor: pointer;
}
.fuelux .wizard > ul.steps li.complete:hover .chevron:before,
.fuelux .wizard > .steps-container > ul.steps li.complete:hover .chevron:before {
    border-left: 14px solid #e2eaee;
}
.fuelux .wizard > ul.steps li.complete .chevron:before,
.fuelux .wizard > .steps-container > ul.steps li.complete .chevron:before {
    border-left: 14px solid #f5f5f5;
}
.fuelux .wizard > ul.steps li.active,
.fuelux .wizard > .steps-container > ul.steps li.active {
    background: #eef7fb;
    color: #3a87ad;
    cursor: default;
}
.fuelux .wizard > ul.steps li.active .chevron:before,
.fuelux .wizard > .steps-container > ul.steps li.active .chevron:before {
    border-left: 14px solid #eef7fb;
}
.fuelux .wizard > ul.steps li.active .badge,
.fuelux .wizard > .steps-container > ul.steps li.active .badge {
    background-color: #3a87ad;
}
.fuelux .wizard > ul.steps li .badge,
.fuelux .wizard > .steps-container > ul.steps li .badge {
    margin-right: 8px;
}
.fuelux .wizard > ul.steps li .badge-success,
.fuelux .wizard > .steps-container > ul.steps li .badge-success {
    background-color: #468847;
}
.fuelux .wizard > ul.steps li:first-child,
.fuelux .wizard > .steps-container > ul.steps li:first-child {
    border-radius: 4px 0 0 0;
    padding-left: 20px;
}
.fuelux .wizard.rtl {
    direction: rtl;
}
.fuelux .wizard.rtl > ul.steps,
.fuelux .wizard.rtl > .steps-container > ul.steps {
    right: 0;
    left: auto;
    float: right;
}
.fuelux .wizard.rtl > ul.steps.previous-disabled li.complete:hover .chevron:before,
.fuelux .wizard.rtl > .steps-container > ul.steps.previous-disabled li.complete:hover .chevron:before {
    border-right-color: #f5f5f5;
}
.fuelux .wizard.rtl > ul.steps li,
.fuelux .wizard.rtl > .steps-container > ul.steps li {
    float: right;
}
.fuelux .wizard.rtl > ul.steps li .chevron,
.fuelux .wizard.rtl > .steps-container > ul.steps li .chevron {
    right: auto;
    left: -14px;
    border-right: 14px solid #cccccc;
    border-left: 0;
}
.fuelux .wizard.rtl > ul.steps li .chevron:before,
.fuelux .wizard.rtl > .steps-container > ul.steps li .chevron:before {
    right: auto;
    left: 1px;
    border-right: 14px solid #eeeeee;
    border-left: 0;
}
.fuelux .wizard.rtl > ul.steps li.active .chevron:before,
.fuelux .wizard.rtl > .steps-container > ul.steps li.active .chevron:before {
    border-right: 14px solid #eef7fb;
}
.fuelux .wizard.rtl > ul.steps li.complete .chevron:before,
.fuelux .wizard.rtl > .steps-container > ul.steps li.complete .chevron:before {
    border-right: 14px solid #f5f5f5;
}
.fuelux .wizard.rtl > ul.steps li.complete:hover .chevron:before,
.fuelux .wizard.rtl > .steps-container > ul.steps li.complete:hover .chevron:before {
    border-right: 14px solid #e2eaee;
    border-left: none;
}
.fuelux .wizard.rtl > ul.steps li .badge,
.fuelux .wizard.rtl > .steps-container > ul.steps li .badge {
    margin-left: 8px;
}
.fuelux .wizard.rtl > .actions {
    right: auto;
    left: 0;
    float: left;
    border-left: none;
    border-right: 1px solid #d4d4d4;
    border-radius: 4px 0 0 0;
}
.fuelux .wizard.rtl > .actions .btn-prev span {
    margin-left: 5px;
    margin-right: 0;
}
.fuelux .wizard.rtl > .actions .btn-next span {
    margin-left: 0;
    margin-right: 5px;
}
.fuelux .wizard {
    border-radius: 0;
}
.fuelux .wizard > .actions {
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 46px;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    background-color: #e6e6e6;
    border-left: 1px solid #d4d4d4;
    border-radius: 0 4px 0 0;
}
.fuelux .wizard > .actions a {
    line-height: 45px;
    font-size: 12px;
    margin-right: 8px;
}
.fuelux .wizard > .actions .btn-prev[disabled] {
    cursor: not-allowed;
}
.fuelux .wizard > .actions .btn-prev span {
    margin-right: 5px;
}
.fuelux .wizard > .actions .btn-next[disabled] {
    cursor: not-allowed;
}
.fuelux .wizard > .actions .btn-next span {
    margin-left: 5px;
}
.fuelux .wizard .step-content {
    border-top: 1px solid #cccccc;
    padding: 10px;
    float: left;
    width: 100%;
}
.fuelux .wizard .step-content .step-pane {
    display: none;
}
.fuelux .wizard .step-content > .active {
    display: block;
}
.fuelux .wizard .step-content > .active .btn-group .active {
    display: inline-block;
}
.fuelux .wizard.complete > .actions .btn-next .glyphicon {
    display: none;
}
.fuelux .bootstrap-select.btn-group .dropdown-menu li {
    display: block !important;
}
.step-pane {
    padding-top: 15px;
}
.account-picture {
    padding: 0 50px;
}
.account-picture img {
    margin: 0 auto;
}
.mega-menu {
    position: static !important;
    font-size: 13px;
}
.mega-menu .mega-menu-title {
    font: 700 16px/20px "Gudea", Arial, sans-serif;
    color: #4c4e4d;
    display: block;
    padding: 8px 0;
    text-align: left;
}
.mega-menu a {
    text-align: center;
}
.nav > li > a,
.mega-menu .nav > li > a {
    padding: 10px 13px !important;
}
.mega-menu .list-unstyled a {
    text-align: left;
}
.mega-menu .icon-category{
    max-width: 32px;
    height: auto;
    margin: 0 auto;
    filter: grayscale(11%);
    /* Browser Specific*/
    -webkit-filter: grayscale(11%);
    -moz-filter: grayscale(11%);
    -o-filter: grayscale(11%);
    -ms-filter: grayscale(11%);
}
.mega-menu .dropdown-menu {
    width: 100%;
}
.mega-menu .dropdown-menu .mega-menu-list {
    padding-left: 18px;
    margin-bottom: 20px;
}
.mega-menu .mega-menu-content {
    padding: 20px 30px 5px;
}
.mega-menu .list-unstyled {
    margin-bottom: 15px;
}
.mega-menu .list-unstyled a {
    display: block;
    padding: 3px 20px 3px 10px;
}
.mega-menu .list-unstyled a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #eee;
}
.mega-menu .list-unstyled a::before {
    font-family: 'fontAwesome';
    margin-right: 5px;
    content: '\f105';
}
.breadcrumb-container {
    background-color: #f5f5f5;
}
.breadcrumb-container .breadcrumb {
    padding-top: 10px;
    background-color: transparent;
    margin-bottom: 0;
    border-radius: 0;
}
.breadcrumb-container .breadcrumb > li + li:before {
    font-family: 'fontAwesome';
    content: '\f101';
}
.sidebar-nav {
    background: #212529;
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #343a40;
}
.faq-panel {
    margin-bottom: 40px;
}
.faq-panel .panel {
    border: 0;
    border-bottom: 1px solid #ddd;
}
.faq-panel .panel-title {
    font-weight: normal;
    font-size: 15px;
}
.sticky {
    background-color: #fac629;
    position: fixed;
    z-index: 1003;
    top: 0;
    width: 100%;
    -webkit-animation: pull_down 0.2s;
    -o-animation: pull_down 0.2s;
    animation: pull_down 0.2s;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.sticky > .container > .row {
    padding: 0;
}
.mt-94 {
    margin-top: 94px;
}
.mt-139 {
    margin-top: 139px;
}
.pb-10 {
    padding-bottom: 10px !important;
}
@keyframes pull_down {
    0% {
        top: -65px;
    }
    100% {
        top: 0;
    }
}
@-moz-keyframes pull_down {
    0% {
        top: -65px;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes pull_down {
    0% {
        top: -65px;
    }
    100% {
        top: 0;
    }
}
@-o-keyframes pull_down {
    0% {
        top: -65px;
    }
    100% {
        top: 0;
    }
}
@-ms-keyframes pull_down {
    0% {
        top: -65px;
    }
    100% {
        top: 0;
    }
}
@keyframes fade-down {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes fade-down {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.fade-down .open .dropdown-menu {
    -webkit-animation-name: fade-down;
    animation-name: fade-down;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.btn-theme {
    color: #fff;
    background-color: #fac629;
    border-color: #ffb600;
}
.btn-theme:focus, .btn-theme.focus {
    color: #fff;
    background-color: #ffb600;
    border-color: #ffb600;
}
.btn-theme:hover {
    color: #fff;
    background-color: #ffb600;
}
.btn-theme:active, .btn-theme.active, .open > .btn-theme.dropdown-toggle {
    color: #fff;
    background-color: #ffb600;
}
.btn-theme:active:hover, .btn-theme:active:focus, .btn-theme:active.focus, .btn-theme.active:hover, .btn-theme.active:focus, .btn-theme.active.focus, .open > .btn-theme.dropdown-toggle:hover, .open > .btn-theme.dropdown-toggle:focus, .open > .btn-theme.dropdown-toggle.focus {
    color: #fff;
    background-color: #ffb600;
}
.btn-theme:active, .btn-theme.active, .open > .btn-theme.dropdown-toggle {
    background-image: none;
}
.btn-theme.disabled:hover, .btn-theme.disabled:focus, .btn-theme.disabled.focus, .btn-theme[disabled]:hover, .btn-theme[disabled]:focus, .btn-theme[disabled].focus, fieldset[disabled] .btn-theme:hover, fieldset[disabled] .btn-theme:focus, fieldset[disabled] .btn-theme.focus {
    background-color: #fac629;
    border-color: #ffb600;
}
.btn-theme .badge {
    color: #fac629;
    background-color: #fff;
}
.form-control:focus {
    border-color: #fac629;
}
input[type=checkbox]:checked + span::before,
input[type=radio]:checked + span::before {
    color: #fac629;
}
.title {
    border-bottom: 3px solid #cccccc;
}
.title span {
    border-bottom: 3px solid #ffb600;
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select.open .dropdown-toggle,
.bootstrap-select.open .dropdown-toggle:hover {
    border-color: #fac629;
}
.img-thumbnail:hover {
    border-color: #fac629;
}
.top-header {
    background-color: #fac629;
}
.top-header ul.list-inline > li > a,
.top-header ul.list-inline > li .dropdown-toggle {
    color: #fff;
    border-color: #fac629;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.top-header ul.list-inline > li > a:hover, .top-header ul.list-inline > li > a:active,
.top-header ul.list-inline > li .dropdown-toggle:hover,
.top-header ul.list-inline > li .dropdown-toggle:active {
    border-color: #ffb600;
    background-color: #ffb600;
}
.top-header ul.list-inline > li .dropdown.open > .dropdown-toggle,
.top-header ul.list-inline > li .bootstrap-select.open > .dropdown-toggle {
    color: #efefef;
    border-color: #ffb600;
    background-color: #ffb600;
}
.middle-header .btn-search,
.footer .btn-search{
    color: #fac629;
    border-color: transparent; 
    background-color: #fff;
}
.middle-header .btn-search:active, .middle-header .btn-search:focus,
.footer .btn-search:active, .footer .btn-search:focus {
    color: #fff;
    border-color: transparent;
    outline: 0;
    background-color: #ffb600;
}
.middle-header .cart-btn > a.btn > i {
    color: #fac629;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:focus,
.navbar .navbar-nav > .open > a:hover {
    color: #777 !important;
    background-color: #fac629;
}
.navbar .navbar-toggle:active, .navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover,
.navbar .btn-cart-xs:active,
.navbar .btn-cart-xs:focus,
.navbar .btn-cart-xs:hover {
    border-color: #fac629;
}
.navbar .navbar-feature > li > a:focus,
.navbar .navbar-feature > li > a:hover {
    color: #777 !important;
    background-color: inherit;
}
.box-product-outer:hover {
    border: 1px solid #fac629;
}
.footer ul li a:hover {
    color: #fac629;
}
.footer .subscribe-button {
    color: #fff;
    border-color: #fff;
    background-color: #fac629;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.footer .subscribe-button:active, .footer .subscribe-button:focus {
    color: #fff;
    border-color: #fff;
    outline: 0;
    background-color: #ffb600;
}
.follow-us li a:hover {
    color: #fff !important;
    border: 1px solid #fff;
    background-color: #fac629;
}
.filter-sidebar ul li a.remove-filter:hover {
    color: #fac629;
}
.noUi-target .noUi-connect {
    background-color: #fac629;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    border-color: #fac629;
    background-color: #fac629;
}
.blog-list:hover {
    border-color: #fac629;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #fac629;
}
.breadcrumb-container .breadcrumb > li > a {
    color: #fac629;
}
.sidebar-nav ul {
    background-color: #e0f2f1;
}
.alert-color {
    color: #666;
    border-color: #80cbc4;
    background-color: #e0f2f1;
}
.logo {
    max-width: 100%;
}
@media (max-width: 991px) {
    .logo {
        text-align: center;
    }
    .logo img {
        display: inherit;
    }
}
@media (min-width: 768px) {
    .middle-header .btn-search {
        margin-left: -2px !important;
    }
    .navbar .navbar-collapse {
        position: relative;
        padding-right: 0;
        padding-left: 0;
    }
    .dropdown-submenu > a:after {
        display: block;
        font-family: 'fontAwesome';
        content: "\f0da";
        float: right;
        margin-right: -10px;
    }
    .chooser {
        position: fixed;
        z-index: 1003;
        top: 100px;
        right: 0;
        -webkit-transition: all 100ms ease-in-out 0s;
        -o-transition: all 100ms ease-in-out 0s;
        transition: all 100ms ease-in-out 0s;
    }
    .chooser-hide {
        right: -120px;
    }
    .chooser-toggle {
        position: absolute;
        top: 0;
        left: -38px;
        width: 20px;
        height: 20px;
    }
    .chooser-toggle button:hover,
    .chooser-toggle button:focus,
    .chooser-toggle button:active {
        border-color: #eea236;
        outline: 0 !important;
    }
    .chooser-content {
        width: 120px;
        padding: 10px;
        border: 3px solid #eea236;
        background: #fff;
    }
    .chooser-content select {
        height: 30px;
    }
}
@media (max-width: 767px) {
    .dropdown-submenu > .dropdown-menu {
        padding-left: 15px;
    }
    .dropdown-submenu > a:after {
        display: inline-block;
        font-family: 'fontAwesome';
        content: "\f0d7";
        margin-left: 10px;
    }
    .input-qty .bootstrap-touchspin {
        width: 115px;
    }
    .table-compare > tbody > tr > td {
        white-space: inherit !important;
    }
    .chooser {
        display: none;
    }
}
@media (max-width: 479px) {
    .box-product-outer {
        padding: 0 !important;
    }
    .box-product-outer:hover {
        border-color: transparent;
    }
    .box-product .img-wrapper > .option {
        bottom: 0;
    }
}