.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.fuelux .serif {
    font-family: Georgia, "Times New Roman", Times, serif;
}
.fuelux .monospace {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.fuelux .text-sm {
    font-size: 11.9px;
}
.fuelux .text-lg {
    font-size: 17.5px;
}
.fuelux .padding-xs {
    padding: 5px;
}
.fuelux .padding-xs-horizontal {
    padding: 0 5px;
}
.fuelux .padding-xs-vertical {
    padding: 5px 0;
}
.fuelux .padding-xs-top {
    padding-top: 5px;
}
.fuelux .padding-xs-bottom {
    padding-bottom: 5px;
}
.fuelux .padding-xs-left {
    padding-left: 5px;
}
.fuelux .padding-xs-right {
    padding-right: 5px;
}
.fuelux .padding-sm {
    padding: 10px;
}
.fuelux .padding-sm-horizontal {
    padding: 0 10px;
}
.fuelux .padding-sm-vertical {
    padding: 10px 0;
}
.fuelux .padding-sm-top {
    padding-top: 10px;
}
.fuelux .padding-sm-bottom {
    padding-bottom: 10px;
}
.fuelux .padding-sm-left {
    padding-left: 10px;
}
.fuelux .padding-sm-right {
    padding-right: 10px;
}
.fuelux .padding-md {
    padding: 15px;
}
.fuelux .padding-md-horizontal {
    padding: 0 15px;
}
.fuelux .padding-md-vertical {
    padding: 15px 0;
}
.fuelux .padding-md-top {
    padding-top: 15px;
}
.fuelux .padding-md-bottom {
    padding-bottom: 15px;
}
.fuelux .padding-md-left {
    padding-left: 15px;
}
.fuelux .padding-md-right {
    padding-right: 15px;
}
.fuelux .padding-lg {
    padding: 20px;
}
.fuelux .padding-lg-horizontal {
    padding: 0 20px;
}
.fuelux .padding-lg-vertical {
    padding: 20px 0;
}
.fuelux .padding-lg-top {
    padding-top: 20px;
}
.fuelux .padding-lg-bottom {
    padding-bottom: 20px;
}
.fuelux .padding-lg-left {
    padding-left: 20px;
}
.fuelux .padding-lg-right {
    padding-right: 20px;
}
.fuelux .margin-xs {
    margin: 5px;
}
.fuelux .margin-xs-horizontal {
    margin: 0 5px;
}
.fuelux .margin-xs-vertical {
    margin: 5px 0;
}
.fuelux .margin-xs-top {
    margin-top: 5px;
}
.fuelux .margin-xs-bottom {
    margin-bottom: 5px;
}
.fuelux .margin-xs-left {
    margin-left: 5px;
}
.fuelux .margin-xs-right {
    margin-right: 5px;
}
.fuelux .margin-sm {
    margin: 10px;
}
.fuelux .margin-sm-horizontal {
    margin: 0 10px;
}
.fuelux .margin-sm-vertical {
    margin: 10px 0;
}
.fuelux .margin-sm-top {
    margin-top: 10px;
}
.fuelux .margin-sm-bottom {
    margin-bottom: 10px;
}
.fuelux .margin-sm-left {
    margin-left: 10px;
}
.fuelux .margin-sm-right {
    margin-right: 10px;
}
.fuelux .margin-md {
    margin: 15px;
}
.fuelux .margin-md-horizontal {
    margin: 0 15px;
}
.fuelux .margin-md-vertical {
    margin: 15px 0;
}
.fuelux .margin-md-top {
    margin-top: 15px;
}
.fuelux .margin-md-bottom {
    margin-bottom: 15px;
}
.fuelux .margin-md-left {
    margin-left: 15px;
}
.fuelux .margin-md-right {
    margin-right: 15px;
}
.fuelux .margin-lg {
    margin: 20px;
}
.fuelux .margin-lg-horizontal {
    margin: 0 20px;
}
.fuelux .margin-lg-vertical {
    margin: 20px 0;
}
.fuelux .margin-lg-top {
    margin-top: 20px;
}
.fuelux .margin-lg-bottom {
    margin-bottom: 20px;
}
.fuelux .margin-lg-left {
    margin-left: 20px;
}
.fuelux .margin-lg-right {
    margin-right: 20px;
}
.fuelux .data-label {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 2px;
    text-shadow: 0 1px #FFF;
    color: #666666;
}
.fuelux .data-value {
    font-size: 14px;
}
.fuelux .section-heading {
    font-size: 16px;
    color: #333333;
    margin: 0 0 10px;
    padding: 0;
    text-shadow: 0 1px #FFF;
}
.fuelux .wizard {
    *zoom: 1;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background-color: #fafafa;
    position: relative;
    min-height: 48px;
}
.fuelux .wizard:before,
.fuelux .wizard:after {
    display: table;
    content: "";
    line-height: 0;
}
.fuelux .wizard:after {
    clear: both;
}
.fuelux .wizard.no-steps-container {
    overflow: hidden;
}
.fuelux .wizard .steps-container {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}
.fuelux .wizard > ul.steps,
.fuelux .wizard > .steps-container > ul.steps {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    width: 999999px;
}
.fuelux .wizard > ul.steps.previous-disabled li.complete,
.fuelux .wizard > .steps-container > ul.steps.previous-disabled li.complete {
    cursor: default;
}
.fuelux .wizard > ul.steps.previous-disabled li.complete:hover,
.fuelux .wizard > .steps-container > ul.steps.previous-disabled li.complete:hover {
    background: #f5f5f5;
    color: #468847;
    cursor: default;
}
.fuelux .wizard > ul.steps.previous-disabled li.complete:hover .chevron:before,
.fuelux .wizard > .steps-container > ul.steps.previous-disabled li.complete:hover .chevron:before {
    border-left-color: #f5f5f5;
}
.fuelux .wizard > ul.steps li,
.fuelux .wizard > .steps-container > ul.steps li {
    float: left;
    margin: 0;
    padding: 0 20px 0 30px;
    height: 46px;
    line-height: 46px;
    position: relative;
    background: #eeeeee;
    color: #999999;
    font-size: 16px;
    cursor: not-allowed;
}
.fuelux .wizard > ul.steps li .chevron,
.fuelux .wizard > .steps-container > ul.steps li .chevron {
    border: 24px solid transparent;
    border-left: 14px solid #d4d4d4;
    border-right: 0;
    display: block;
    position: absolute;
    right: -14px;
    top: 0;
    z-index: 1;
}
.fuelux .wizard > ul.steps li .chevron:before,
.fuelux .wizard > .steps-container > ul.steps li .chevron:before {
    border: 24px solid transparent;
    border-left: 14px solid #eeeeee;
    border-right: 0;
    content: "";
    display: block;
    position: absolute;
    right: 1px;
    top: -24px;
}
.fuelux .wizard > ul.steps li.complete,
.fuelux .wizard > .steps-container > ul.steps li.complete {
    background: #f5f5f5;
    color: #468847;
}
.fuelux .wizard > ul.steps li.complete:hover,
.fuelux .wizard > .steps-container > ul.steps li.complete:hover {
    background: #e2eaee;
    cursor: pointer;
}
.fuelux .wizard > ul.steps li.complete:hover .chevron:before,
.fuelux .wizard > .steps-container > ul.steps li.complete:hover .chevron:before {
    border-left: 14px solid #e2eaee;
}
.fuelux .wizard > ul.steps li.complete .chevron:before,
.fuelux .wizard > .steps-container > ul.steps li.complete .chevron:before {
    border-left: 14px solid #f5f5f5;
}
.fuelux .wizard > ul.steps li.active,
.fuelux .wizard > .steps-container > ul.steps li.active {
    background: #eef7fb;
    color: #3a87ad;
    cursor: default;
}
.fuelux .wizard > ul.steps li.active .chevron:before,
.fuelux .wizard > .steps-container > ul.steps li.active .chevron:before {
    border-left: 14px solid #eef7fb;
}
.fuelux .wizard > ul.steps li.active .badge,
.fuelux .wizard > .steps-container > ul.steps li.active .badge {
    background-color: #3a87ad;
}
.fuelux .wizard > ul.steps li .badge,
.fuelux .wizard > .steps-container > ul.steps li .badge {
    margin-right: 8px;
}
.fuelux .wizard > ul.steps li .badge-success,
.fuelux .wizard > .steps-container > ul.steps li .badge-success {
    background-color: #468847;
}
.fuelux .wizard > ul.steps li:first-child,
.fuelux .wizard > .steps-container > ul.steps li:first-child {
    border-radius: 4px 0 0 0;
    padding-left: 20px;
}
.fuelux .wizard.rtl {
    direction: rtl;
}
.fuelux .wizard.rtl > ul.steps,
.fuelux .wizard.rtl > .steps-container > ul.steps {
    right: 0;
    left: auto;
    float: right;
}
.fuelux .wizard.rtl > ul.steps.previous-disabled li.complete:hover .chevron:before,
.fuelux .wizard.rtl > .steps-container > ul.steps.previous-disabled li.complete:hover .chevron:before {
    border-right-color: #f5f5f5;
}
.fuelux .wizard.rtl > ul.steps li,
.fuelux .wizard.rtl > .steps-container > ul.steps li {
    float: right;
}
.fuelux .wizard.rtl > ul.steps li .chevron,
.fuelux .wizard.rtl > .steps-container > ul.steps li .chevron {
    right: auto;
    left: -14px;
    border-right: 14px solid #cccccc;
    border-left: 0;
}
.fuelux .wizard.rtl > ul.steps li .chevron:before,
.fuelux .wizard.rtl > .steps-container > ul.steps li .chevron:before {
    right: auto;
    left: 1px;
    border-right: 14px solid #eeeeee;
    border-left: 0;
}
.fuelux .wizard.rtl > ul.steps li.active .chevron:before,
.fuelux .wizard.rtl > .steps-container > ul.steps li.active .chevron:before {
    border-right: 14px solid #eef7fb;
}
.fuelux .wizard.rtl > ul.steps li.complete .chevron:before,
.fuelux .wizard.rtl > .steps-container > ul.steps li.complete .chevron:before {
    border-right: 14px solid #f5f5f5;
}
.fuelux .wizard.rtl > ul.steps li.complete:hover .chevron:before,
.fuelux .wizard.rtl > .steps-container > ul.steps li.complete:hover .chevron:before {
    border-right: 14px solid #e2eaee;
    border-left: none;
}
.fuelux .wizard.rtl > ul.steps li .badge,
.fuelux .wizard.rtl > .steps-container > ul.steps li .badge {
    margin-left: 8px;
}
.fuelux .wizard.rtl > .actions {
    right: auto;
    left: 0;
    float: left;
    border-left: none;
    border-right: 1px solid #d4d4d4;
    border-radius: 4px 0 0 0;
}
.fuelux .wizard.rtl > .actions .btn-prev span {
    margin-left: 5px;
    margin-right: 0;
}
.fuelux .wizard.rtl > .actions .btn-next span {
    margin-left: 0;
    margin-right: 5px;
}
.fuelux .wizard > .actions {
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 46px;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    background-color: #e6e6e6;
    border-left: 1px solid #d4d4d4;
    border-radius: 0 4px 0 0;
}
.fuelux .wizard > .actions a {
    line-height: 45px;
    font-size: 12px;
    margin-right: 8px;
}
.fuelux .wizard > .actions .btn-prev[disabled] {
    cursor: not-allowed;
}
.fuelux .wizard > .actions .btn-prev span {
    margin-right: 5px;
}
.fuelux .wizard > .actions .btn-next[disabled] {
    cursor: not-allowed;
}
.fuelux .wizard > .actions .btn-next span {
    margin-left: 5px;
}
.fuelux .wizard .step-content {
    border-top: 1px solid #cccccc;
    padding: 10px;
    float: left;
    width: 100%;
}
.fuelux .wizard .step-content .step-pane {
    display: none;
}
.fuelux .wizard .step-content > .active {
    display: block;
}
.fuelux .wizard .step-content > .active .btn-group .active {
    display: inline-block;
}
.fuelux .wizard.complete > .actions .btn-next .glyphicon {
    display: none;
}
